@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}
:root{
    --prime-color:#644222;
    --prime-light:#BE9874;
    --section-bg:#F7F5F1;
    --text-color:#101010;
    --black-color:#000;
    --white-color:#fff;

    --transition-regular:.3s;
    --transition-slow:.6s;

    --OpenSans-font:"Open Sans", sans-serif;
    --Jost-font:"Jost", sans-serif;
    --Libre-font:"Libre Baskerville", serif;
}

/* Navbar */

nav{
    width: 100%;
    padding: 10px 9% !important;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    z-index: 999 !important;
}
.logo {
    font-size: 1.7rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--white-color);
    font-family: var(--Libre-font);
}
.logo span{
    color: var(--prime-light);
}

.menu .nav-item a{
    color: var(--black-color);
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--white-color);
    position: relative;
    transition: var(--transition-regular);
    z-index: 1;
    text-decoration: none !important;
    padding: 10px;
}
.menu .nav-item a:after{
    content: '';
    position: absolute;
    top: -100%;
    opacity: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    transition: var(--transition-regular);
    border-radius: 10px;
    z-index: -1;
}
.menu .nav-item:hover a:after{
    top: 0;
    opacity: 1;
}
.menu .nav-item:hover a{
    color: var(--black-color);
}
.btn{
    background-color: var(--prime-color);
    color: var(--white-color) !important;
    width: 250px;
    padding: 10px;
    font-size: 1.2rem;
    letter-spacing: 1px;
}
.btn:hover{
    background-color: var(--black-color);
}
nav button{
    border-radius: 0 !important;
    background-color: var(--prime-light) !important;
}

/* Header Section */

header{
    width: 100%;
    height: 100vh;
    background-image: url(assets/hero-bg.png);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content h1{
    font-size: 6rem;
    font-weight: 600;
    font-family: var(--Jost-font);
    color: var(--white-color);
}
.hero-content p{
    color: var(--white-color);
    margin-top: 30px;
}
.hero-content button{
    background-color: transparent;
    border: 1px solid var(--white-color) !important;
    margin-top: 20px;
}
.hero-content button:hover{
    background-color: var(--prime-light);
}

/* Booking Form */

.booking-form h2{
    font-family: var(--Jost-font);
    font-size: 2.5rem;
    font-weight: 600;
}
.booking-box p{
    font-family: var(--Jost-font);
    font-weight: 500;
}
.booking-box p img{
    width: 16px;
    height: 16px;
}
.booking-box input{
    width: 100%;
    height: 50px;
    padding: 0 5%;
    border: 1px solid #c69f7a97;
}
.booking-box select{
    height: 50px;
    padding: 0 2%;
    border: 1px solid #c69f7a97;
}

/* About Section */

.image-wrapper {
    position: relative;
}
  
.overlay-img {
    position: absolute;
    top: 50%;
    left: 30%;
    border: 6px solid var(--white-color);
}  
.section-title span{
    font-size: 1.2rem;
    font-family: var(--Jost-font);
    font-weight: 600 !important;
    color: var(--prime-color);
}
.section-title h2{
    font-size: 4rem;
    font-weight: 600;
    font-family: var(--Libre-font);
}
.text-wrapper p{
    color: #777;
    font-weight: 300;
}
.feature-paragraphs p {
    margin-bottom: 10px;
    color: var(--text-color);
    font-weight: 600;
    font-size: 15px;
    padding-left: 28px;
    position: relative;
    color: var(--prime-color);
}  
.feature-paragraphs p i {
    color: var(--prime-color);
    position: absolute;
    left: 0;
    top: 2px;
}
.discover-btn {
    background-color: var(--prime-color);
    color: var(--white-color);
    font-family: var(--Jost-font);
    font-size: 15px;
    font-weight: 600;
    padding: 12px 30px;
    border: none;
    transition: var(--transition-regular);
    border: 1px solid var(--prime-color);
}  

/* Explore Section */

.explore{
    margin-top: 6% !important; 
    background-color: var(--section-bg);
}
.explore-title p{
    width: 70%;
    text-align: center;
}
.explore-card{
    background-color: var(--white-color);
    transition: var(--transition-regular);
    position: relative;
}
.explore-card img{
    width: 80px;
    height: 80px;
}
.explore-card h2{
    font-size: 1.7rem !important;
    font-family: var(--Jost-font);
    transition: var(--transition-regular);
}
.explore-card h2:hover{
    color: var(--prime-color) !important;
    cursor: pointer;
}
.explore-card a{
    text-decoration: none;
    color: var(--black-color);
    transition: var(--transition-regular);
}
.explore-card a:hover{
    letter-spacing: 1px;
    color: var(--prime-color) !important;
}
.explore-card:after{
    content: '';
    position: absolute;
    top: 0;
    right: 5%;
    width: 150px;
    height: 150px;
    background-image: url(assets/explore-icon-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
}
.explore-card:hover{
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(131, 131, 131, 0.3);
}

.explore-wrapper .row > .col-lg-4:nth-child(2) .explore-card::after {
    background-image: url(assets/explore-icon-2.png);
}
.explore-wrapper .row > .col-lg-4:nth-child(3) .explore-card::after {
    background-image: url(assets/explore-icon-3.png);
}
.explore-wrapper .row > .col-lg-4:nth-child(4) .explore-card::after {
    background-image: url(assets/explore-icon-4.png);
}
.explore-wrapper .row > .col-lg-4:nth-child(5) .explore-card::after {
    background-image: url(assets/explore-icon-5.png);
}
.explore-wrapper .row > .col-lg-4:nth-child(6) .explore-card::after {
    background-image: url(assets/explore-icon-6.png);
}

.element{
    position: relative;
    overflow: hidden;
    top: 20%;
    right: 0;
    animation: top-bottom 5s infinite forwards linear;
}
.element1{
    left: 0 !important;
    width: 170px;
}

/* Animaction */
@keyframes top-bottom  {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);      
    }
}

/* Rooms Section */

.single-services {
    background: var(--white-color);
    box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.07);
    position: relative;
    margin: 0 15px;
}
.single-services::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 5px;
    top: 5px;
    background: var(--prime-color);
    z-index: -1;
    transition: .3s;
    opacity: 0;
}
.single-services:hover:before {
    opacity: 1;
}
.single-services .day-book {
    background: var(--prime-color);
    font-family: 'Jost', sans-serif;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 30px;
    margin-top: -50px;
    position: relative;
}
.single-services .day-book li {
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: 20px 0;
    border-right: 2px solid #423223;
}
.single-services .day-book a {
    color: var(--white-color);
    text-decoration: none;
}
.single-services .day-book a:active {
    color: var(--white-color);
}
.single-services .day-book li:last-child {
    border: none;
}   
.single-services .icon {
    margin-top: 30px;
}
.single-services .icon li {
    margin-right: 34px;    
    display: inline-block;
}
.single-services .icon li img {
    height: 20px;
}
.room-pere{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

/* Best Price Section */

.price-title h2{
    font-size: 3rem;
}
.price-head{
    position: relative;
}
.price-head span{
    position: absolute;
    top: 25%;
    right: 0;
    transform: rotate(90deg);
    background-color: #E1E1E1;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
}
.price-head-text h2{
    font-size: 2rem;
    font-family: var(--Jost-font);
    font-weight: 600;
}
.price-box h1{
    font-family: var(--Jost-font);
    color: var(--prime-color);
    font-weight: 600;
    font-size: 3.3rem;
    border-bottom: 1px solid rgba(131, 131, 131, 0.2);
    padding-bottom: 10px;
}
.price-box p img{
    width: 20px;
    height: 20px;
}
.price-box p{
    display: flex;
    align-items: center;
    color: #777;
}
.price-btn{
    border-radius: 0;
}
.prices .element2{
    width: 170px;
}

/* resort section */
.resort{
    background-color: var(--section-bg);

}

.resort-img{
    width: 100%;
}
.element{
    position: relative;
    overflow: hidden;
    top: 20%;
    right: 0;
    animation: top-bottom 5s infinite forwards linear;
    /* width: 100%; */
}

/* keyfram animaction */
@keyframes top-bottom  {
    0% {
        transform: translateY(0);
       
    }
    50% {
        transform: translateY(-50px);
     
    }
    100% {
        transform: translateY(0);
       
    }
}


/* testimonials */
.test-swiper{
    width: 90%;
}

.testimonial-section{
    background-image: url(assets/test-bg.png);
}

/* book room */
.book-title h2{
    font-size: 2.5rem;
}

/* Banner Section */

.banner{
    height: 500px;
    background-image: url(assets/video-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-box img{
    width: 150px;
    height: 150px;
}
.banner-box h1{
    font-size: 3rem;
    color: var(--white-color);
    font-family: var(--Libre-font);
    font-weight: 600;
}
/* BLOG SECTION */

.blog-content {
    border: 1px solid #b7b7b7;
    position: relative;
    padding: 40px 30px 30px;
}

.blog-date {
    position: absolute;
    background-color: var(--prime-color);
    color: var(--white-color);
    width: auto;
    padding: 6px 20px;
    font-size: 1.1rem;
    font-weight: 500;
    top: -8%;
}

.blog-btn {
    height: 35px;
    padding: 2px 30px;
    border: none;
    background-color: transparent;
    padding-left: 0;
    text-decoration: underline;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}

.blog-image img {
    transition: var(--transition-slow);
}

.blog-item:hover .blog-image img {
    transform: scale(1.1);
}

/* Brand section */
.brand-image {
    text-align: center;
}

.brand-container {
    background-color: #f7f5f1;
    padding: 90px 0;
}

/* Footer */

footer {
    background-color: #777;
}

.footer-top {
    padding-top: 90px;
    padding-bottom: 40px;
    background-color: #644222;
    background-image: url(assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.f-contact ul {
    padding-left: 0;
    color: var(--white-color);
}

.f-contact ul li {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.f-contact ul li span {
    color: #fffc;
}

.f-contact ul li i {
    background-color: var(--white-color);
    color: var(--black-color);
    min-height: 50px;
    min-width: 50px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.f-widget-title {
    color: var(--white-color);
    margin-bottom: 30px;
}

.footer-link ul li a {
    text-decoration: none;
    color: #fffc;
    transition: var(--transition-slow);
}

.footer-link ul li a:hover {
    color: var(--white-color);
}

.contact-form {
    position: relative;
}

.subricbe input {
    height: 70px;
    padding-left: 12px;
    outline: none;
}

.subricbe .header-btn {
    background-color: var(--prime-color);
    position: absolute;
    top: 12px;
    height: 45px;
    color: var(--white-color);
    border: none;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    right: 15px;
}

.copyright-wrap {
    background: #282828;
    color: #fff;
    padding: 20px 0;
}

.text-right {
    text-align: right;
}

.footer-social a {
    font-size: 16px;
    display: inline-block;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #101010;
    text-align: center;
    line-height: 40px;
    color: #fff !important;
}
.copyright-wrap .copyright-text a{
    color: var(--white-color);
    letter-spacing: 1px;
}

/* About Page Section */

.about-page-title span{
    color: var(--white-color);
}
.hotel-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
}  
.left-panel {
    background-color: #291b14;
}
.progress-main{
    position: relative;
}  
.custom-progress {
    height: 14px;
    background-color: #e6e6e6;
    border-radius: 10px;
    overflow: hidden;
}  
.custom-progress .progress-bar {
    background-color: #c2986b;
    font-weight: 500;
    color: var(--white-color);
    text-align: center;  
}
.progress-bar p{
    position: absolute;
    top: -15%;
    left: 0%;
    background-color: #644222;
    padding: 5px;
    border-radius: 5px;
}
.progress-bar p::after{
    content: '';
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color:#644222;
    width: 10px;
    height: 10px;
}
.progress-bar .first{
    left: 77%;
}
.progress-bar .second{
    left:87%;
}
.progress-bar .third{
    left:67%;
}

/*  BLOG PAGE Section */

.section-banner {
    min-height: 450px;
    background-image: url(assets/section-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.section-wrap ul li a {
    text-decoration: none !important;
    color: var(--white-color);
    font-size: 1.1rem;
    font-weight: 500;
}

.section-title h2{
    font-family: var(--Jost-font) !important;
}

/* blog page section */

.blog-page-item .blog-left-item {
    border: 1px solid #b7b7b7;
    position: relative;
    padding: 40px 30px 30px;
}
.blog-page-item .blog-date {
    position: absolute;
    background-color: var(--prime-color);
    color: var(--white-color);
    width: auto;
    padding: 6px 20px;
    font-size: 1.1rem;
    font-weight: 500;
    top: -8%;
}
.blog-page-item .blog-btn {
    height: 35px;
    padding: 2px 30px;
    border: none;
    background-color: transparent;
    padding-left: 0;
    text-decoration: underline;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}
.blog-image img {
    transition: var(--transition-slow);
}
.blog-item:hover .blog-image img {
    transform: scale(1.1);
}
.sidebar-widget {
    padding: 40px;
    overflow: hidden;
    margin-bottom: 40px;
    border: 2px solid #f7f5f1 !important;
    background: #f7f5f1;
}
.sidebar-widget h5 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.search-input-group input {
    height: 50px;
    outline: none;
    border: 1px solid var(--black-color) !important;
    box-shadow: none !important;
    border-radius: 0;
}
.search-input-group button {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 130px;
    border: 1px solid var(--prime-color);
    outline: none;
    background-color: var(--prime-color);
    color: var(--white-color);
    font-size: 1.1rem;
}
.sidebar-widget-icon i {
    border: 1px solid var(--black-color);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    border-radius: 50%;
}
.categories-wrap li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
    padding: 8px 0;
}
.tag{
    border: 1px solid #101010 !important;
    color: #101010;
    padding: 14px;
    font-size: 1rem;
    font-weight: 500;
}

/* Facilities Page Section */

.facilities-explore{
    margin-top: 0 !important;
}

/* Room Details */

.bg-room-detail {
    background: url(assets/section-bg.jpg) no-repeat;
    background-size: cover;
    min-height: 40vh;
}
.bg-room-detail h2{
    color: var(--white-color);
    text-align: center;
}
.main-room{
    height: 490px;
    object-fit: cover;
}
.bg-room-detail ul {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;

    margin: 0;
    padding: 0;
    color: var(--white-color);
}
.bg-room-detail ul a ,  
.bg-room-detail ul p  {
    color: var(--white-color);
    text-decoration: none;
    margin: 0 ;
    padding: 0;
}
.raiting-image {
    height: 15px;
}
.room-features {
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    padding-top: 0px;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
    padding-top: 13px;
}
.room-features li {
    display: flex;
    align-items: center;
    min-width: 22%;
    border: 1px solid #eee;
    padding: 10px 15px;
    font-weight: 400;
    font-size: 18px;
    color: #101010;
    font-family: 'Jost', sans-serif;
}
.room-features li i {
    margin-right: 10px;
    color: #be9874;
}
.sidebar-widget {
    background: #f3f4f8;
    padding: 40px;
    margin-bottom: 30px;
}
.sidebar-widget .widgettitle, .sidebar-widget .widget-title, .wp-block-group__inner-container h2 {
    font-size: 22px;
    margin-bottom: 0;
    line-height: 1;
    text-align: left;
    font-weight: 700;
    margin-bottom: 30px;
}
.booking .contact-field input {
    width: 100%;
    border: none;
    background: #fff;
    padding: 10px 20px;
    transition: .3s;
    border: 1px solid #64422247;
}
.contact-field input , 
.booking .contact-field select {
    width: 100%;
    border: none;
    padding-left: 15px;
    transition: .3s;
    border-radius: 0;
    border: 1px solid #777;
    height: calc(3.0em + .1rem + 2px);
}
.contact-field label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    color: #101010;
    margin-bottom: 20px;
    cursor: unset;
    font-family: 'Jost', sans-serif;
}
.booking .contact-field select, .booking .contact-field input[type=date] {
    color: #926d63;
}

/* CONTACT PAGE */

.contact-wrap ul li:nth-child(2):after {
    content: '';
    left: 45% !important;
}

.contact-page {
    padding-top: 120px;
}

.contact-icon {
    background-color: var(--prime-color);
}

.contact-icon i {
    font-size: 1.5rem;
}

.input-box input {
    height: 60px;
    border: 1px solid var(--prime-color) !important;
    border-radius: 0;
    font-size: 1rem;
    box-shadow: none !important;
}

.input-box textarea {
    height: 150px;
    border: 1px solid var(--prime-color) !important;
    border-radius: 0;
    font-size: 1rem;
    box-shadow: none !important;
}

.contact-form-wrap {
    padding: 100px;
}

.contact-info h5 {
    font-family: var(--Jost-font);
}

.contact-info p {
    color: #777777;
}

.newsletter-input{
    box-shadow: none !important;
    border: none !important;
}

/* MQ Section */

@media (max-width:1399px) {
    .hero-content h1{
        font-size: 5rem;
    }
    /* About */
    .about-title h2{
        font-size: 2.5rem;
    }

    /* Best Price */
    .price-title h2{
        font-size: 2.5rem;
    }

    /* Rooms Details */
    .main-room{
        height: 420px;
    }

}
@media (max-width:1199px) {
    .booking-box p{
        font-size: 13px;
    }
    .hero-content h1{
        font-size: 4.5rem;
    }
    /* About */
    .about-title h2{
        font-size: 2rem;
    }
    .text-wrapper p{
        font-size: 13px;
    }
    .overlay-img{
        left: 10%;
        top: 30%;
    }
    .booking-img{
        width: 100% !important;
    }
    .price-head-text h2{
        font-size: 1.8rem;
    }
    .price-head span{
        right: -13%;
    }
    .testimonial-info h5{
        font-size: 1.9rem;
    }
    .blog-content h4{
        font-size: 1.5rem;
    }

    /* Explore */

    .explore-card h2{
        font-size: 1.3rem !important;
    }
    /* About Page */
    .about-page-title h2{
        font-size: 3rem;
    }
    /* Rooms Page Section */

    .single-services .day-book li{
        font-size: 12px !important;
    }
    .single-services .day-book ul{
        padding: 0;
    }

    .main-room{
        width: 100%;
    }
    .hide-element{
        display: none !important;
    }

    .contact-form{
        padding: 50px;
    }

}
@media (max-width:991px) {
    nav{
        backdrop-filter: blur(10px);
    }
    nav .nav-btn{
        display: none;
    }
    header{
        height: 100%;
        padding-bottom: 40px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .hero-content{
        margin-top: 80px;
    }
    .booking-form{
        margin-top: 50px;
    }
    /* About */
    .main-img{
        width: 100%;
    }
    .overlay-img{
        left: 44.5%;
        top: 50.5%;
    }
    .booking-img{
        width: 100% !important;
    }
    .about-title h2{
        font-size: 4rem;
    }
    .resort-content{
        padding: 2% !important;
    }
    .price-head span{
        right: 0% !important;
    }
    .testimonial-info h5{
        font-size: 3rem;
    }
    .testimonial-info small{
        font-size: 1.2rem;
    }
    .price-box{
        margin-top: 20px;
    } 
    .sidebar-widget{
        margin-top: 30px;
    }
}
@media (max-width:767px) {
    .section-title h2{
        font-size: 3rem;
    }
    .hero-content h1{
        font-size: 4rem;
    }
    .hero-content p{
        margin-top: 20px;
    }
    .booking-box input{
        margin-bottom: 20px;
    }
    /* About */
    .overlay-img{
        left: 26%;
        top: 34%;
    }
    /* Explore  */
    .explore-title p{
        width: 100%;
    }
    .testimonial-info h5{
        font-size: 2rem;
    }

    /* Rooms Page Section */

    .single-services .day-book li{
        font-size: 15px !important;
    }
    .contact-fwrap {
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }
    .input-box input{
        width: 100%;
        margin-left: 10px;
    }
    .input-box{
        padding: 0;
    }
    .contact-form-wrap{
        padding: 80px;
    }
    .newsletter-input{
        width: 100% !important;
        height: 70px !important;
    }
    .input-group .btn{
        width: 100% !important;
        margin-top: 20px;
    }
    .newsletter-wrap .input-group{
        width: 100% !important;
    }
}
@media (max-width:575px) {
     /* About */
     .overlay-img{
        left: 30%;
        top: 37.5%;
    }
    .section-title h2{
        font-size: 2.5rem;
    }
}